import(quadprog)
import(glmnet)
import(amap)
useDynLib(optimise2)
export(lmcholsolve)
export(optimise2)
export(lmconst)
export(lambda_Select)
export(print.lambda_select)
export(summary.lambda_select)
export(predict.lambda_select)
export(xixireg.isotonic)
